.project
    height 30px
    line-height 30px
    padding-left 10px
    cursor pointer
    color #333
    clearfix()

    &.active
        background-color: rgb(0, 159, 147)
        color: #fff

    > .icon
        margin-right: 10px

    > b
        float right
        width: 30px
        height: 30px
        line-height 30px
        text-align center
        font-weight 400

    > .editor
        border-right 1px solid lighten(rgb(0, 159, 147), 5%)
