.todobox
    flex 1 0 440px
    order 2
    background linear-gradient(0, #c21500 10%, #ffc500 90%)

@require './TodoForm.styl'
@require './TodoList.styl'
@media all and (max-width: 640px)
    .todobox
        order 0
